{% extends 'base.html' %}



{% block title %}{{ issue.assignee }}{% endblock title %}


{% block content %}
<h1>{{ issue.assignee}}</h1>
<h3>{{ issue.status}}</h3>
<small>By: {{ issue.reporter }} | Created on: {{ issue.created_on}}</small>
<p>{{ post.description}}</p>
{% if user.is_authenticated %}
    {% if user == issue.reporter %}
    <a href="{% url 'edit' issue.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'delete' issue.id %}" class="btn btn-primary">Delete</a>
    {% endif %}
{% endif %}
{% endblock content %}

<!-- summary,description, reporter, assignee, priority,status,created_on-->