{% extends 'base.html' %}

{% block title %}Delete Issue {% endblock title %}

{% block content %}

<h1>Delete Issue</h1>
<p>Are you sure you want to delete this post:</p>
<h5>{{ issue.title }}</h5>
<p>{{ issue.subtitle }}</p>
<small>{{ issue.body|truncatechars:128 }}</small>
<form method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Confirm">
</form>
<a href="{% url 'list' %}" class="btn btn-primary">No, go back</a>



{% endblock content %}

<!-- summary,description, reporter, assignee, priority,status,created_on-->
