{% extends 'base.html' %}



{% block title %}Issues{% endblock title %}


{% block content %}
<h1>Issues</h1>
{% for issue in to_do_list %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ issue.assignee }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ issue.status}}</h6>
      <small>Created on: {{ issue.created_on}}</small>
      <p class="card-text">{{ issue.summary|truncatechars:128 }}</p>
      <a href="{% url 'detail' issue.id %}" class="card-link">Continue reading...</a>
    </div>
  </div>
{% endfor %}
{% endblock content %}

<!-- summary,description, reporter, assignee, priority,status,created_on-->